/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Segoe UI', sans-serif;

  background-image: url(../img/background.jpg);
  /* color: #e0e0e0;  */
  line-height: 1.6;
}

/* ===== Header ===== */
header.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #121426;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h2 {
  font-size: 28px;
  color: #00e5ff;
}

nav.list-btn a {
  color: #e0e0e0;
  text-decoration: none;
  margin: 0 15
}

.btn-main {
  /* width: 200px; */
  /* background-color: teal; */
  padding: 10px;
  text-align: center;

}

.btn-home {
  text-decoration: none;
  color: #0f111a;
  background-color: #00e5ff;
  padding: 10px 20px;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}